{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block body %}
  <body>
    <div id="logo">
        <h2>PROMOCAP</h2>
    </div>

    <div id="login-container">
        <h1>login</h1>
        <form method="post">
            {% csrf_token %}
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email"placeholder="Digite seu email" autocompletar="off">
            <label for="passaword">senha</label>
            <input type="passaword" name="passaword" id="passaword"placeholder="Digite sua senha">
            <a href="#" id="forgot-pass">Esqueceu a senha?</a>
            <input type="submit" value="Login">

        </form>
        <div id="Registrar-container">
            <p>Ainda não é cadastrado em nosso site?</p>
            <a href="form">Registrar</a>
        </div>
    </div>

  </body>
</html>

{% endblock %}