{% extends 'base.html' %}
{% load static %}
{% block title %} usuario{% endblock %}
{% block body %}

<!DOCTYPE html>
<html lang="pt-BR">

<body>
    <div class=" col-8 m-auto pt-2 pb-2 text-center">
        <h1> EMPRESAS CADASTRADAS </h1>
    </div>
    <div class=" col-8 m-auto pt-3 pb-2 ">
        <a href="form" class="btn btn-dark btn-success">Adicionar nova empresa</a>
        <a href="menu" class="btn btn-dark btn-success">sair para o menu</a>
        <a href="form2" class="btn btn-dark btn-success">cadastrar produto</a>


    </div>
    <div class=" col-8 m-auto pt- pb-2 text-center">
    <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">nome</th>
      <th scope="col">cnpj</th>
      <th scope="col">endereco</th>
      <th scope="col">email</th>
      <th scope="col">senha</th>
      <th scope="col">ações</th>


    </tr>
    </thead>
    <tbody>
    {% for dbs in db %}
    <tr>
      <th> {{dbs.id}}</th>
      <td>{{dbs.nome}}</td>
      <td>{{dbs.cnpj}}</td>
      <td>{{dbs.endereco}}</td>
      <td>{{dbs.email}}</td>
      <td>{{dbs.senha}}</td>
      <td>

          <a href="ver{{dbs.id}}" class="btn btn-dark">ver</a>
          <a href="edit{{dbs.id}}" class="btn btn-primary">edit</a>
          <a href="delete{{dbs.id}}" class="btn btn-danger btnDel">deletar</a>
      </td>
    </tr>
{% endfor %}
    <tbody>
    </table>
  </div>
{% load static %}
<script src="{% static '/js/dellusuario.js' %}"></script>
</body>
</html>

{% endblock %}